@import "tailwindcss";

@theme {
  --color-utama: #283618;
  --color-kedua: #344e41;
  --color-ketiga: #dad7cd;
}

body {
  font-family: "Inter", sans-serif;
}

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
body {
  font-family: "Inter", sans-serif;
}

a {
  text-decoration: none;
}
.backdrop-blur {
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
}
